# Configuration keys only. Set values locally; never commit .env.
# STOCK_REVIEW_EXTERNAL_VOLUME=
# STOCK_REVIEW_DATA_ROOT=
# STOCK_REVIEW_DATA_DIR=
# APP_ENV=
# LLM_PROVIDER=
# FRONTEND_HOST=
# ASTRO_QUOTE_ENABLED=
# ASTRO_QUOTE_BRIDGE_PORT=
# ASTRO_QUOTE_POLL_MS=
# ASTRO_QUOTE_MAX_AGE_MS=
# ASTRO_QUOTE_LEASE_SECONDS=
# ASTRO_QUOTE_SSH_TARGET=
# ASTRO_QUOTE_SSH_KEY=
# ASTRO_QUOTE_CONTAINER=
# ASTRO_QUOTE_GATEWAY_PATH=
# SUPERVISOR_HEALTH_INTERVAL_SECONDS=
# SUPERVISOR_HEALTH_TIMEOUT_SECONDS=
# SUPERVISOR_HEALTH_FAILURE_THRESHOLD=
# SUPERVISOR_STARTUP_GRACE_SECONDS=
# SUPERVISOR_RESTART_BASE_DELAY_SECONDS=
# SUPERVISOR_RESTART_MAX_DELAY_SECONDS=
# NODE_USE_ENV_PROXY=
# FRONTEND_BASE_URL=
# CACHE_CLEANUP_ENABLED=
# CACHE_CLEANUP_INTERVAL_SECONDS=
# WATCHLIST_ANN_ITEM_RETENTION_DAYS=
# WATCHLIST_ANN_CRAWL_LOG_RETENTION_DAYS=
# WATCHLIST_ANN_PUSH_LOG_RETENTION_DAYS=
# EXCHANGE_ANN_PUSH_LOG_RETENTION_DAYS=
# CRYPTO_SNAPSHOT_RETENTION_DAYS=
# CRYPTO_PUSH_LOG_RETENTION_DAYS=
# FACTOR_REFRESH_LOG_RETENTION_DAYS=
# FACTOR_TAG_CANDIDATE_LOG_RETENTION_DAYS=
# EXCHANGE_ANN_AUTO_PUSH=
# EXCHANGE_ANN_PUSH_ENABLED=
# EXCHANGE_ANN_PUSH_SECONDS=
# EXCHANGE_ANN_SOURCE_BN_SECONDS=
# EXCHANGE_ANN_SOURCE_BY_SECONDS=
# EXCHANGE_ANN_SOURCE_ASTER_SECONDS=
# EXCHANGE_ANN_SOURCE_BG_SECONDS=
# EXCHANGE_ANN_SOURCE_GATE_SECONDS=
# EXCHANGE_ANN_SOURCE_OKX_SECONDS=
# EXCHANGE_ANN_FETCH_WORKERS=
# EXCHANGE_MARKET_STATUS_WORKERS=
# EXCHANGE_OPPORTUNITY_AUTO_SCAN=
# EXCHANGE_OPPORTUNITY_SCAN_SECONDS=
# EXCHANGE_OPPORTUNITY_WORKERS=
# EXCHANGE_ANN_BARK_ICON_URL=
# ZSXQ_MCP_URL=
# ZSXQ_GROUP_TOPIC_LIMIT=
# NETWORK_IMAGE_OCR_ENABLED=
# NETWORK_IMAGE_OCR_API_KEY=
# NETWORK_IMAGE_OCR_MODEL=
# NETWORK_IMAGE_OCR_BASE_URL=
# NETWORK_IMAGE_OCR_IMAGES_PER_TOPIC=
# BARK_WEBHOOK_URL=
# BARK_ICON_URL=
# ASTRO_DEPTH_CLOUD_ENABLED=
# ASTRO_DEPTH_CLOUD_SSH_TARGET=
# ASTRO_DEPTH_CLOUD_SSH_KEY=
# ASTRO_DEPTH_CLOUD_MIN_DWELL_SECONDS=
# CRYPTO_REFRESH_SECONDS=
# CRYPTO_API_PROXY=
# CRYPTO_API_TIMEOUT_SECONDS=
# CRYPTO_BOARD_EXCHANGES=
# CRYPTO_BINANCE_BASE_URL=
# CRYPTO_BYBIT_BASE_URL=
# CRYPTO_GATE_BASE_URL=
# CRYPTO_OKX_BASE_URL=
# CRYPTO_BITGET_BASE_URL=
# CRYPTO_HTX_BASE_URL=
# CRYPTO_ASTER_BASE_URL=
# CRYPTO_HYPERLIQUID_BASE_URL=
# FS_AUTO_SCAN_SECONDS=
# FS_AUTO_SCAN_LIMIT=
# FS_SIGNAL_QUICK_SCAN_WORKERS=
# FS_BORROW_FAST_SCAN_SECONDS=
# FS_BORROW_FAST_SCAN_LIMIT=
# FS_BORROW_FAST_MARKET_WORKERS=
# FS_OKX_ACTIVE_CONTRACTS_PER_SCAN=
# FS_OKX_ROTATION_CONTRACTS_PER_SCAN=
# FS_CANDIDATE_SOURCE_STALE_SECONDS=
# FS_CANDIDATE_SOURCE_FAILURE_COOLDOWN_SECONDS=
# ASTRO_SDK_BASE_URL=
# ASTRO_SDK_ADMIN_PREFIX=
# ASTRO_SDK_API_KEY=
# ASTRO_SDK_DEX_API_PATH=
# ASTRO_SDK_TLS_VERIFY=
# ASTRO_SDK_TIMEOUT_SECONDS=
# ASTRO_AUTO_CARD_ENABLED=
# ASTRO_AUTO_CARD_DRY_RUN=
# ASTRO_AUTO_CARD_MAX_PER_SCAN=
# ASTRO_AUTO_CARD_MIN_NOTIONAL_USDT=
# ASTRO_AUTO_CARD_MAX_TRADE_USDT=
# ASTRO_AUTO_CARD_LEVERAGE=
# ASTRO_AUTO_CARD_SPOT_MARGIN_TYPE=
# ASTRO_AUTO_CARD_CLOSE_POSITION=
# ASTRO_AUTO_CARD_RESTART_WAIT_SECONDS=
# ASTRO_AUTO_CARD_VERIFY_POLL_SECONDS=
# ASTRO_AUTO_CARD_GREATER_PRICE_ALERT_PCT=
# ASTRO_AUTO_CARD_DELETE_REARM_PCT=
# ASTRO_AUTO_CARD_DELETE_PULLBACK_PCT_POINTS=
# ASTRO_AUTO_CARD_DELETE_CONFIRM_SECONDS=
# ASTRO_AUTO_CARD_CLEANUP_GRACE_SECONDS=
# ASTRO_AUTO_CARD_CLEANUP_INVALID_SECONDS=
# ASTRO_AUTO_CARD_CLEANUP_COOLDOWN_SECONDS=
# ASTRO_AUTO_CARD_CLEANUP_REARM_BUFFER_PCT_POINTS=
# ASTRO_SPREAD_SCAN_ENABLED=
# ASTRO_SPREAD_SCAN_SECONDS=
# ASTRO_SPREAD_MIN_OPEN_PCT=
# ASTRO_SPREAD_FF_MIN_OPEN_PCT=
# ASTRO_SPREAD_SF_MIN_OPEN_PCT=
# ASTRO_SPREAD_SF_NEGATIVE_FUNDING_OVERRIDE_MIN_SPREAD_PCT=
# ASTRO_SPREAD_SF_NEGATIVE_FUNDING_OVERRIDE_MIN_NET_PCT=
# ASTRO_SPREAD_SF_NEGATIVE_FUNDING_OVERRIDE_HOURS=
# ASTRO_FS_BORROW_AUTO_CARD_ENABLED=
# ASTRO_FS_BORROW_MIN_CYCLE_PROFIT_PCT=
# ASTRO_FS_BORROW_MIN_OPEN_SPREAD_PCT=
# ASTRO_SPREAD_MAX_OPEN_PCT=
# ASTRO_SPREAD_MIN_VOLUME_USDT=
# ASTRO_SPREAD_CONFIRMATIONS=
# ASTRO_SPREAD_MAX_QUOTE_AGE_SECONDS=
# ASTRO_FINAL_REVALIDATION_MAX_QUOTE_AGE_SECONDS=
# ASTRO_FINAL_REVALIDATION_OKXDEX_MAX_QUOTE_AGE_SECONDS=
# ASTRO_FINAL_REVALIDATION_TIMEOUT_SECONDS=
# ASTRO_FINAL_REVALIDATION_MAX_SKEW_SECONDS=
# ASTRO_GATE_DEPTH_CIRCUIT_FAILURES=
# ASTRO_GATE_DEPTH_CIRCUIT_PAUSE_SECONDS=
# ASTRO_API_DEGRADED_FAILURES=
# ASTRO_API_DEGRADED_PUSH_INTERVAL_SECONDS=
# ASTRO_API_RECOVERY_PROBE_INTERVAL_SECONDS=
# ASTRO_API_RECOVERY_PROBE_SUCCESSES=
# ASTRO_FINAL_REVALIDATION_ROUNDS=
# ASTRO_FINAL_REVALIDATION_INTERVAL_SECONDS=
# ASTRO_FINAL_REVALIDATION_WORKERS=
# ASTRO_HOT_MONITOR_INTERVAL_SECONDS=
# ASTRO_HOT_MONITOR_ROUTE_TTL_SECONDS=
# ASTRO_HOT_MONITOR_HIT_TTL_SECONDS=
# ASTRO_HOT_MONITOR_CONFIRMATION_INTERVAL_SECONDS=
# ASTRO_HOT_MONITOR_WORKERS=
# ASTRO_HOT_MONITOR_MAX_ROUTES_PER_CYCLE=
# ASTRO_REVALIDATION_RETRY_SECONDS=
# ASTRO_REVALIDATION_QUOTE_RETRY_SECONDS=
# ASTRO_REVALIDATION_UNAVAILABLE_RETRY_SECONDS=
# ASTRO_REVALIDATION_RETRY_IMPROVEMENT_PCT_POINTS=
# ASTRO_SPREAD_STRUCTURE_FILTER_ENABLED=
# ASTRO_SPREAD_STRUCTURE_HISTORY_HOURS=
# ASTRO_SPREAD_STRUCTURE_SAMPLE_SECONDS=
# ASTRO_SPREAD_STRUCTURE_TRACKING_MIN_PCT=
# ASTRO_SPREAD_STRUCTURE_ADVERSE_SHARE=
# ASTRO_SPREAD_STRUCTURE_MAX_5M_INCREASE_PCT=
# ASTRO_SPREAD_EXCHANGES=
# ASTRO_SPREAD_MARKETS=
# ASTRO_OKXDEX_QUOTE_NOTIONAL_USDT=
# ASTRO_OKXDEX_SLIPPAGE_PCT=
# ASTRO_CEX_QUOTE_NOTIONAL_USDT=
# FUNDING_CLOUD_ENABLED=
# FUNDING_CLOUD_SSH_TARGET=
# FUNDING_CLOUD_SSH_KEY=
# FUNDING_CLOUD_RPC_PATH=
# FUNDING_CLOUD_TIMEOUT_SECONDS=
# FUNDING_FORMATION_CACHE_MAX_ITEMS=
# FUNDING_PREDICTION_RETENTION_DAYS=
# MARKET_REVIEW_SOURCE_TIMEOUT_SECONDS=
# MARKET_REVIEW_QUOTE_TIMEOUT_SECONDS=
# MARKET_REVIEW_REPORT_DIR=
# DEEPSEEK_API_KEY=
# DEEPSEEK_MODEL=
# DEEPSEEK_BASE_URL=
# OPENAI_API_KEY=
# OPENAI_MODEL=
# OPENAI_BASE_URL=
# ASTRO_MANUAL_ORDER_SSH_TARGET=
# ASTRO_MANUAL_ORDER_SSH_KEY=
# ASTRO_CHAIN_LABEL_PUBLISH_ENABLED=
# ASTRO_CHAIN_LABEL_SSH_TARGET=
# ASTRO_CHAIN_LABEL_SSH_KEY=
# ASTRO_CHAIN_LABEL_CONTAINER=
# ASTRO_MANUAL_ORDER_CONTAINER=
